<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Details</title>
  <link rel="stylesheet" href="product-details.css">
</head>
<body>
  <header>
    <h1>Smartphone-S</h1>
</header>
<nav>
    <ul>
      <li><a href="index.html">Home page</a></li>
      <li><a href="cart.html">Cart</a></li>
      <li><a href="contact.html">Contact Page</a></li>
      <li><a href ="login.html"> Logout</a></li>
    </ul>
  </nav>
  <h1>Product Details</h1>

  <div class="product">
    <h2><% product_name %></h2>
    <p>Price: <% product_price %></p>
    <img src="<% product_image %>" alt="Product Image">
    <button>Add to Cart</button>
  </div>

  <script src="product-details.js"></script>
</body>
</html>